<!DOCTYPE html>
<html lang="en">
	<title>Mail Template</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="estilo.css">
	<link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
		html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
		.bar-block .bar-item {padding: 16px}
	</style>
	<body>
		
		<!-- Side Navigation -->
		<nav class="sidebar bar-block collapse white animate-left card" style="z-index:3;width:320px;" id="mySidebar">
			<a href="javascript:void(0)" class="bar-item button border-bottom large"><img src="https://www.w3schools.com/images/w3schools.png" style="width:60%;"></a>
			<a href="javascript:void(0)" onclick="w3_close()" title="Close Sidemenu" 
			class="bar-item button hide-large large">Close <i class="fa fa-remove"></i></a>
			<a href="javascript:void(0)" class="bar-item button dark-grey button hover-black left-align" onclick="document.getElementById('id01').style.display='block'">New Message <i class="padding fa fa-pencil"></i></a>
			<a id="myBtn" onclick="myFunc('Demo1')" href="javascript:void(0)" class="bar-item button"><i class="fa fa-inbox margin-right"></i>Inbox (3)<i class="fa fa-caret-down margin-left"></i></a>
			<div id="Demo1" class="hide animate-left">
				<a href="javascript:void(0)" class="bar-item button border-bottom test hover-light-grey" onclick="openMail('Borge');w3_close();" id="firstTab">
					<div class="container">
						<img class="round margin-right" src="/w3images/avatar3.png" style="width:15%;"><span class="opacity large">Borge Refsnes</span>
						<h6>Subject: Remember Me</h6>
						<p>Hello, i just wanted to let you know that i'll be home at...</p>
					</div>
				</a>
				<a href="javascript:void(0)" class="bar-item button border-bottom test hover-light-grey" onclick="openMail('Jane');w3_close();">
					<div class="container">
						<img class="round margin-right" src="/w3images/avatar5.png" style="width:15%;"><span class="opacity large">Jane Doe</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
					</div>
				</a>
				<a href="javascript:void(0)" class="bar-item button border-bottom test hover-light-grey" onclick="openMail('John');w3_close();">
					<div class="container">
						<img class="round margin-right" src="/w3images/avatar2.png" style="width:15%;"><span class="opacity large">John Doe</span>
						<p>Welcome!</p>
					</div>
				</a>
			</div>
			<a href="#" class="bar-item button"><i class="fa fa-paper-plane margin-right"></i>Sent</a>
			<a href="#" class="bar-item button"><i class="fa fa-hourglass-end margin-right"></i>Drafts</a>
			<a href="#" class="bar-item button"><i class="fa fa-trash margin-right"></i>Trash</a>
		</nav>
		
		<!-- Modal that pops up when you click on "New Message" -->
		<div id="id01" class="modal" style="z-index:4">
			<div class="modal-content animate-zoom">
				<div class="container padding red">
					<span onclick="document.getElementById('id01').style.display='none'"
					class="button red right xxlarge"><i class="fa fa-remove"></i></span>
					<h2>Send Mail</h2>
				</div>
				<div class="panel">
					<label>To</label>
					<input class="input border margin-bottom" type="text">
					<label>From</label>
					<input class="input border margin-bottom" type="text">
					<label>Subject</label>
					<input class="input border margin-bottom" type="text">
					<input class="input border margin-bottom" style="height:150px" placeholder="What's on your mind?">
					<div class="section">
						<a class="button red" onclick="document.getElementById('id01').style.display='none'">Cancel  <i class="fa fa-remove"></i></a>
						<a class="button light-grey right" onclick="document.getElementById('id01').style.display='none'">Send  <i class="fa fa-paper-plane"></i></a> 
					</div>    
				</div>
			</div>
		</div>
		
		<!-- Overlay effect when opening the side navigation on small screens -->
		<div class="overlay hide-large animate-opacity" onclick="w3_close()" style="cursor:pointer" title="Close Sidemenu" id="myOverlay"></div>
		
		<!-- Page content -->
		<div class="main" style="margin-left:320px;">
			<i class="fa fa-bars button white hide-large xlarge margin-left margin-top" onclick="w3_open()"></i>
			<a href="javascript:void(0)" class="hide-large red button right margin-top margin-right" onclick="document.getElementById('id01').style.display='block'"><i class="fa fa-pencil"></i></a>
			
			<div id="Borge" class="container person">
				<br>
				<img class="round  animate-top" src="/w3images/avatar3.png" style="width:20%;">
				<h5 class="opacity">Subject: Remember Me</h5>
				<h4><i class="fa fa-clock-o"></i> From Borge Refsnes, Sep 27, 2015.</h4>
				<a class="button light-grey" href="#">Reply<i class="margin-left fa fa-mail-reply"></i></a>
				<a class="button light-grey" href="#">Forward<i class="margin-left fa fa-arrow-right"></i></a>
				<hr>
				<p>Hello, i just wanted to let you know that i'll be home at lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Best Regards, <br>Borge Refsnes</p>
			</div>
			
			<div id="Jane" class="container person">
				<br>
				<img class="round animate-top" src="/w3images/avatar5.png" style="width:20%;">
				<h5 class="opacity">Subject: None</h5>
				<h4><i class="fa fa-clock-o"></i> From Jane Doe, Sep 25, 2015.</h4>
				<a class="button light-grey">Reply<i class="margin-left fa fa-mail-reply"></i></a>
				<a class="button light-grey">Forward<i class="margin-left fa fa-arrow-right"></i></a>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Forever yours,<br>Jane</p>
			</div>
			
			<div id="John" class="container person">
				<br>
				<img class="round animate-top" src="/w3images/avatar2.png" style="width:20%;">
				<h5 class="opacity">Subject: None</h5>
				<h4><i class="fa fa-clock-o"></i> From John Doe, Sep 23, 2015.</h4>
				<a class="button light-grey">Reply<i class="margin-left fa fa-mail-reply"></i></a>
				<a class="button light-grey">Forward<i class="margin-left fa fa-arrow-right"></i></a>
				<hr>
				<p>Welcome.</p>
				<p>That's it!</p>
			</div>
			
		</div>
		
		<script>
			var openInbox = document.getElementById("myBtn");
			openInbox.click();
			
			function w3_open() {
				document.getElementById("mySidebar").style.display = "block";
				document.getElementById("myOverlay").style.display = "block";
			}
			
			function w3_close() {
				document.getElementById("mySidebar").style.display = "none";
				document.getElementById("myOverlay").style.display = "none";
			}
			
			function myFunc(id) {
				var x = document.getElementById(id);
				if (x.className.indexOf("show") == -1) {
					x.className += " show"; 
					x.previousElementSibling.className += " red";
					} else { 
					x.className = x.className.replace(" show", "");
					x.previousElementSibling.className = 
					x.previousElementSibling.className.replace(" red", "");
				}
			}
			
			openMail("Borge")
			function openMail(personName) {
				var i;
				var x = document.getElementsByClassName("person");
				for (i = 0; i < x.length; i++) {
					x[i].style.display = "none";
				}
				x = document.getElementsByClassName("test");
				for (i = 0; i < x.length; i++) {
					x[i].className = x[i].className.replace(" light-grey", "");
				}
				document.getElementById(personName).style.display = "block";
				event.currentTarget.className += " light-grey";
			}
		</script>
		
		<script>
			var openTab = document.getElementById("firstTab");
			openTab.click();
		</script>
		
	</body>
</html> 
