<!DOCTYPE html>
<html>
	<title>Marido de Aluguel</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="estilo.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
		
		body, html {
		height: 100%;
		line-height: 1.8;
		}
		
		/* Full height image header */
		.bgimg-1 {
		background-position: center;
		background-size: cover;
		background-color: black;
		min-height: 100%;
		}
		
		.bar .button {
		padding: 16px;
		}
	</style>
	<body>
		
		<!-- Navbar (sit on top) -->
		<div class="top">
			<div class="bar white card" id="myNavbar">
				<a href="#home" class="bar-item button wide"></a>
				<!-- Right-sided navbar links -->
				<div class="center hide-small">
					<a href="#about"		class="bar-item button">									 HOME		</a>
					<a href="#eletrica"		class="bar-item button">	<i class="fa fa-bolt">		</i> ELETRICA	</a>
					<a href="#hidraulica"	class="bar-item button">	<i class="fa fa-shower">	</i> HIDRÁULICA	</a>
					<a href="#predial"		class="bar-item button">	<i class="fa fa-building">	</i> MANUTENÇÃO PREDIAL	</a>
					<a href="#diversos"		class="bar-item button">	<i class="fa fa-wrench">	</i> DIVERSOS	</a>
					<a href="#contact"		class="bar-item button">	<i class="fa fa-envelope">	</i> CONTATO	</a>
				</div>
				<!-- Hide right-floated links on small screens and replace them with a menu icon -->
				
				<a href="javascript:void(0)" class="bar-item button right hide-large hide-medium" onclick="_open()">
					<i class="fa fa-bars"></i>
				</a>
			</div>
		</div>
		
		<!-- Sidebar on small screens when clicking the menu icon -->
		<nav class="sidebar bar-block left black card animate-left hide-medium hide-large" style="display:none" id="mySidebar">
			<a href="javascript:void(0)" onclick="_close()" class="bar-item button large padding-16">Close X</a>
			<a href="#about"		onclick="_close()" class="bar-item button">	HOME		</a>
			<a href="#eletrica"		onclick="_close()" class="bar-item button">	ELETRICA	</a>
			<a href="#hidraulica"	onclick="_close()" class="bar-item button">	HIDRÁULICA	</a>
			<a href="#predial"		onclick="_close()" class="bar-item button">	MANUTENÇÃO PREDIAL		</a>
			<a href="#diversos"		onclick="_close()" class="bar-item button">	DIVERSOS	</a>
			<a href="#contact"		onclick="_close()" class="bar-item button">	CONTATO		</a>
		</nav>
		
		<!-- Header with full-height image -->
		<header class="bgimg-1 display-container grayscale-min" id="home">
			<div class="display-left text-white" style="padding:48px">
				<span class="jumbo hide-small">SE A SUA CASA TEM UM PROBLEMA</span><br>
				<span class="xxlarge hide-large hide-medium">SE A SUA CASA TEM UM PROBLEMA</span><br>
				<span class="large">NÓS TEMOS A SOLUÇÃO</span><br>
				<span class="large"></span><br>
				<span class="large">ELROND CONTRUÇÃO CIVIL E MANUTENÇÕES</span><br>
				<span class="large">A sua solução para problemas com encanamento, instalações elétricas,<br>
					instalação de eletrodomésticos, troca de chuveiros e muito mais.
				</span>
				
				
			</div> 

		</header>
		
		<!-- About Section -->
		<div class="container light-gray" style="padding:128px 16px" id="about">
			<h3 class="center">NOSSOS SERVIÇOS A PRONTA ENTREGA</h3>
			<p class="center large">NÓS TEMOS O PROFISSIONAL IDEAL PARA LHE ATENDER</p>
			<div class="row-padding center" style="margin-top:64px">
				<div class="quarter">
					<i class="fa fa-bolt margin-bottom jumbo center"></i>
					<p class="large">ELETRICA</p>
					<p></p>
				</div>
				<div class="quarter">
					<i class="fa fa-shower margin-bottom jumbo"></i>
					<p class="large">HIDRÁULICA</p>
					<p></p>
				</div>
				<div class="quarter">
					<i class="fa fa-building margin-bottom jumbo"></i>
					<p class="large">MANUTENÇÃO PREDIAL</p>
					<p></p>
				</div>
				<div class="quarter">
					<i class="fa fa-wrench margin-bottom jumbo"></i>
					<p class="large">INSTALAÇÕES DIVERSAS</p>
					<p></p>
				</div>
			</div>
		</div>
		
		<!-- Promo Section - "We know design" -->
		<div class="container" style="padding:128px 16px" id="eletrica">
			<div class="row-padding">
				<div class="col m6">
					<img class="image round-large" src="Imagens/eletrica.png" alt="Buildings" width="50%" height="394">
				</div>
				<div class="col m6">
					<h1>SERVIÇOS ELÉTRICOS</h1>
					<h3>Tomadas</h3>
					<h3>Interruptores</h3>
					<h3>Luminárias</h3>
					<h3>Troca de resistência</h3>
					<h3>Disjuntores</h3>
					<h3>Spots</h3>
					<h3>Fotocélula</h3>
				</div>
			</div>
		</div>

		<div class="container light-gray" style="padding:128px 16px" id="hidraulica">
			<div class="row-padding">
				<div class="col m6">
					<img class="image round-large" src="Imagens/hidraulica.png" alt="Buildings" width="50%" height="394">
				</div>
				<div class="col m6">
					<h1>SERVIÇOS HIDRÁULICOS</h1>
					<h3>Torneiras</h3>
					<h3>Chuveiros</h3>
					<h3>Purificadores</h3>
					<h3>Bebedouros</h3>
					<h3>Instalação de caixa d'água</h3>
					<h3>Troca de registro</h3>
					<h3>Troca de sifão</h3>
				</div>
			</div>
		</div>

		<div class="container" style="padding:128px 16px" id="predial">
			<div class="row-padding">
				<div class="col m6">
					<img class="image round-large" src="Imagens/predial.png" alt="Buildings" width="50%" height="394">
				</div>
				<div class="col m6">
					<h1>MANUTENÇÃO PREDIAL</h1>
					<h3>Pintura</h3>
					<h3>Grafiato & Textura</h3>
					<h3>Conserto de Telhados</h3>
					<h3>Manutenção de pisos e azulejos</h3>
					<h3>Instalação de caixa d'água</h3>
					<h3>Troca de registro</h3>
					<h3>Limpeza de fachadas</h3>
				</div>
			</div>
		</div>

		<div class="container light-gray" style="padding:128px 16px" id="diversos">
			<div class="row-padding">
				<div class="col m6">
					<img class="image round-large" src="Imagens/manutenção.png" alt="Buildings" width="50%" height="394">
				</div>
				<div class="col m6">
					<h1>INSTALAÇÕES DIVERSAS</h1>
					<h3>Suportes de TV</h3>
					<h3>Varão de cortina</h3>
					<h3>Persianas</h3>
					<h3>Prateleiras</h3>
					<h3>Acessórios de banheiro</h3>
					<h3>Coifas</h3>
					<h3>Depuradores</h3>
					<h3>Espelhos</h3>
					<h3>Quadros</h3>
				</div>
			</div>
		</div>
		
		<!-- Promo Section "Statistics" -->
		<div class="container row center black padding-64">
			<div class="quarter">
				<span class="xxlarge">+20</span>
				<br>Anos de experiência
			</div>
			<div class="quarter">
				<span class="xxlarge">+500</span>
				<br>Projetos Realizados
			</div>
			<div class="quarter">
				<span class="xxlarge">+100</span>
				<br>Clientes Fidelizados
			</div>
			<div class="quarter">
				<span class="xxlarge">10+</span>
				<br>Requisitados profissionais da região
			</div>
		</div>
		
		<!-- Work Section 
		<div class="container" style="padding:128px 16px" id="work">
			<h3 class="center">TRABALHOS REALIZADOS</h3>
			<p class="center large">Garantia de qualidade é o nosso objetivo</p>
			
			<div class="row-padding" style="margin-top:64px">
				<div class="col l3 m6">
					<img src="Imagens/tech_mic.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="A microphone">
				</div>
				<div class="col l3 m6">
					<img src="Imagens/tech_phone.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="A phone">
				</div>
				<div class="col l3 m6">
					<img src="Imagens/tech_drone.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="A drone">
				</div>
				<div class="col l3 m6">
					<img src="Imagens/tech_sound.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Soundbox">
				</div>
			</div>
			
			<div class="row-padding section">
				<div class="col l3 m6">
					<img src="Imagens/tech_tablet.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="A tablet">
				</div>
				<div class="col l3 m6">
					<img src="Imagens/tech_camera.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="A camera">
				</div>
				<div class="col l3 m6">
					<img src="Imagens/tech_typewriter.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="A typewriter">
				</div>
				<div class="col l3 m6">
					<img src="Imagens/tech_tableturner.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="A tableturner">
				</div>
			</div>
		</div>-->
		
		<!-- Modal for full size images on click-->
		<div id="modal01" class="modal black" onclick="this.style.display='none'">
			<span class="button xxlarge black padding-large display-topright" title="Close Modal Image">×</span>
			<div class="modal-content animate-zoom center transparent padding-64">
				<img id="img01" class="image">
				<p id="caption" class="opacity large"></p>
			</div>
		</div>
		
		<!-- Pricing Section -->
		<div class="container center dark-grey" style="padding:128px 16px" id="pricing">
			<h3>PLANOS DE MANUTENÇÃO MENSAL</h3>
			<p class="large">Escolha o melhor plano para atender à sua empresa ou condomínio</p>
			<div class="row-padding" style="margin-top:64px">
				<div class="third section">
					<ul class="ul white hover-shadow">
						<li class="black xlarge padding-32">Básico</li>
						<li class="padding-16"><b>1</b> Visitas quinzenal</li>
						<li class="padding-16"><b> Até 5 </b> serviços realizados</li>
						<li class="padding-16"><b>Visitas </b> Agendadas</li>
						<li class="padding-16"><b>4 horas</b> por visita</li>
						<li class="padding-16">
							<h2 class="wide">R$ 500</h2>
							<span class="opacity">por mês</span>
						</li>
						<li class="light-grey padding-24">
							<button class="button black padding-large"><a href="#contact">Contato</a></button>
						</li>
					</ul>
				</div>
				<div class="third">
					<ul class="ul white hover-shadow">
						<li class="red xlarge padding-32">Pró</li>
						<li class="padding-16"><b>1</b> Visita semanal</li>
						<li class="padding-16"><b> Até 10 </b> serviços realizados</li>
						<li class="padding-16"><b>Visitas </b> Agendadas</li>
						<li class="padding-16"><b>4 horas</b> por visita</li>
						<li class="padding-16">
							<h2 class="wide">R$ 1000</h2>
							<span class="opacity">por mês</span>
						</li>
						<li class="light-grey padding-24">
							<button class="button black padding-large"><a href="#contact">Contato</a></button>
						</li>
					</ul>
				</div>
				<div class="third section">
					<ul class="ul white hover-shadow">
						<li class="black xlarge padding-32">Premium</li>
						<li class="padding-16"><b>2</b> Visitas semanais</li>
						<li class="padding-16"><b> Até 10 </b> serviços realizados</li>
						<li class="padding-16"><b>Visitas </b> Agendadas</li>
						<li class="padding-16"><b>6 horas</b> por visita</li>
						<li class="padding-16">
							<h2 class="wide">R$ 1500</h2>
							<span class="opacity">por mês</span>
						</li>
						<li class="light-grey padding-24">
							<button class="button black padding-large"><a href="#contact">Contato</a></button>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<!-- 07.1 - Nossos clientes -->
        <div    class="container "   style="padding:128px    16px"   >
            <h1 class="center"> </h1>
                <h1  class="center   large"> Nossos Clientes: </h1>

            <!-- 07.2- Nossos parceiros -->
            <div    class="row-padding" style="margin-top:64px">

                <div    class="col  l3  m6">
                    <a href="https://www.grupoglobo.com.br/" target="_blank">
                    <img    src="Imagens/globo.jpg"        style="width:100%"  class="hover-opacity"   alt="ITShare">
                </a>
                </div>
            </div>

        </div>

		<!-- 07.1 - Nossos parceiros -->
        <div    class="container light-grey"   style="padding:128px    16px"   >
            <h1 class="center"> </h1>
                <h1  class="center   large"> Nossos Parceiros: </h1>

            <!-- 07.2- Nossos parceiros -->
            <div    class="row-padding" style="margin-top:64px">

                <div    class="col  l3  m6">
                    <a href="https://www.votorantimcimentos.com.br/" target="_blank">
                    <img    src="Imagens/votoran.jpg"        style="width:100%"  class="hover-opacity"   alt="votoran">
                </a>
                </div>
            </div>

        </div>
		
		<!-- Contact Section -->
		<div class="container black" style="padding:128px 16px" id="contact">
			<h3 class="center">CONTATO</h3>
			<p class="center large">Com apenas um clique, envie-nos uma mensagem:</p>
			<div style="margin-top:48px">
				<p><i class="fa fa-map-marker fa-fw xxlarge margin-right"></i> Curitiba - PR</p>
				<p> <i  class="fa   fa-whatsapp     fa-fw   xxlarge margin-right">  <a href="https://wa.me/55xx9xxxxxxxx"> </i> WhatsApp (xx) 9 xxxx xxxx </i></a></p>
				<p><i class="fa fa-envelope fa-fw xxlarge margin-right"> </i> Email: mail@mail.com</p>
				<br>

				<!-- WhatsApp Flutuante -->
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
				<a href="https://wa.me/55SeuNumeroDeWhatsApp?text=A%20GHG%20Consultoria%20em%20TI%20agradece%20o%20seu%20contato.%20O%20que%20podemos%20fazer%20por%20você%20hoje%20?" 
					style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
						z-index:1000;" 
					target="_blank">
				<i style="margin-top:16px" class="fa fa-whatsapp"></i>
				</a>

				
				<div    class="container black"   >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56927.06513471268!2d-48.72900299092664!3d-26.90534939036482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8cc949bf3cf61%3A0xef02eadd26842207!2sItaja%C3%AD%20-%20Volta%20de%20Cima%2C%20Itaja%C3%AD%20-%20SC!5e0!3m2!1spt-BR!2sbr!4v1640096276480!5m2!1spt-BR!2sbr" 
						width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>            
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<footer class="center black padding-64">
			<a href="#home" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>Para cima</a>
			<div class="xlarge section">
				<!--<i class="fa fa-facebook-official hover-opacity"></i>
				<i class="fa fa-instagram hover-opacity"></i>
				<i class="fa fa-snapchat hover-opacity"></i>
				<i class="fa fa-pinterest-p hover-opacity"></i>
				<i class="fa fa-twitter hover-opacity"></i>
				<i class="fa fa-linkedin hover-opacity"></i>-->
			</div>
			<p>Powered by <a href="https://www.ghgconsultoriaemti.com/" title="GHG" target="_blank" class="hover-text-green">GHG Consultoria em TI</a></p>
		</footer>
		
		<script>
			// Modal Image Gallery
			function onClick(element) {
				document.getElementById("img01").src = element.src;
				document.getElementById("modal01").style.display = "block";
				var captionText = document.getElementById("caption");
				captionText.innerHTML = element.alt;
			}
			
			
			// Toggle between showing and hiding the sidebar when clicking the menu icon
			var mySidebar = document.getElementById("mySidebar");
			
			function _open() {
				if (mySidebar.style.display === 'block') {
					mySidebar.style.display = 'none';
					} else {
					mySidebar.style.display = 'block';
				}
			}
			
			// Close the sidebar with the close button
			function _close() {
				mySidebar.style.display = "none";
			}
		</script>
		
	</body>
</html>
